@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  border: 5px solid red !important;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.modal-open {
  overflow: hidden;
}

.decorative-line {
  height: 2px;
  background-color: #837d87;
  opacity: 0.4;
  margin: 2em auto;
}

.decorative-line--half-width {
  width: 50%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.link {
  color: #2b272f;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.link--gray {
  color: #837d87;
}

.link--gray:hover {
  color: #2b272f;
}

.link--white {
  color: #fafafa;
}

.link--border {
  color: #fafafa;
  border: 2px solid #fafafa;
  padding: .6em 2em;
}

.link--border:hover {
  color: #2b272f;
  background-color: #fafafa;
}

.link--border-black {
  border: 2px solid #2b272f;
  padding: .6em 2em;
}

.link--border-black:hover {
  color: #fafafa;
  background-color: #2b272f;
}

.header {
  position: relative;
  height: 80px;
  background-color: white;
  padding: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header__img {
  height: 1.4em;
}

.header__btn {
  border: none;
  cursor: pointer;
  height: 32px;
}

.header__btn:focus {
  outline: none;
}

@media (min-width: 900px) {
  .header__btn {
    display: none;
  }
}

.header__nav {
  display: none;
}

@media (min-width: 900px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__link {
  padding: .5em 2em;
}

.mobile-nav {
  display: none;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: fixed;
  width: 100vw;
  height: calc(100vh - 80px);
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom center/contain;
  background-color: #2b272f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.mobile-nav--open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  display: block;
}

@media (min-width: 650px) {
  .mobile-nav {
    background-position: bottom right;
    background-size: 60%;
  }
}

.mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  list-style: none;
}

.mobile-nav__item {
  width: 90%;
  margin: .3em 0;
  text-align: center;
}

.mobile-nav__link {
  padding: 1em 0;
  width: 100%;
  font-size: 1.2em;
}

.intro {
  position: relative;
  background-color: #2d2640;
  color: white;
  text-align: center;
}

@media (min-width: 700px) {
  .intro {
    background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat 100% -130%/auto 90%;
    background-color: #2d2640;
    text-align: left;
  }
}

@media (min-width: 700px) {
  .intro__container {
    position: relative;
    padding: 6em 1em;
  }
}

@media (min-width: 700px) {
  .intro__picture {
    width: 45%;
    max-width: 420px;
    position: absolute;
    right: 1em;
    top: 15%;
  }
}

.intro__img {
  width: 100%;
}

.intro::after {
  content: "";
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  position: absolute;
  width: 124px;
  height: 330px;
  bottom: -195px;
  right: 0;
}

@media (min-width: 700px) {
  .intro::after {
    background: none;
  }
}

@media (min-width: 1250px) {
  .intro::after {
    background: url("../images/bg-pattern-intro-left-desktop.svg") top left/100% no-repeat;
    left: 0;
    bottom: -250px;
    width: 150px;
    height: 402px;
  }
}

.intro__content {
  padding: 6em 1em;
  position: relative;
  background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat;
}

@media (min-width: 700px) {
  .intro__content {
    padding: 0;
    max-width: 50%;
    background: none;
  }
}

@media (max-width: 699px) {
  .intro__decorative-line {
    display: none;
  }
}

@media (min-width: 700px) {
  .intro__decorative-line {
    width: 6em;
    margin: 2em 0;
  }
}

.intro__heading {
  font-size: 2.5em;
  font-family: "DM Serif Display", serif;
  margin-bottom: 0.5em;
}

.intro__subheading {
  color: #fafafa;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

.intro__link {
  margin-top: 2em;
}

.different {
  padding: 6em 1em;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 799px) {
  .different {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .different__decorative-line {
    width: 6em;
    margin: 2em 0;
  }
}

.different__heading {
  font-family: "DM Serif Display", serif;
  font-size: 2.5em;
  color: #2d2640;
  margin-bottom: 0.5em;
}

@media (min-width: 800px) {
  .different__heading {
    text-align: left;
  }
}

@media (min-width: 800px) {
  .different__content {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.different__item {
  padding: 2em 0;
}

@media (min-width: 800px) {
  .different__item {
    margin-right: 30px;
  }
}

@media (min-width: 800px) {
  .different__item:last-child {
    margin-right: 0;
  }
}

.different__item-logo {
  margin-bottom: 1.5em;
}

.different__item-heading {
  font-family: "DM Serif Display", serif;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #2d2640;
}

.different__item-text {
  color: #95a9c6;
  line-height: 1.4;
}

.how {
  margin: 3em 1em;
  padding: 4.5em 1em;
  background: url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat top right/contain;
  background-color: #2d2640;
  color: white;
  text-align: center;
}

@media (min-width: 600px) {
  .how {
    padding: 4.5em 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    text-align: left;
  }
}

.how__heading {
  font-family: "DM Serif Display", serif;
  font-size: 2.5em;
}

@media (min-width: 600px) {
  .how__heading {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.how__link {
  color: white;
  margin-top: 2em;
}

.footer {
  background: url("../images/bg-pattern-footer-mobile.svg") no-repeat;
  background-color: #fafafa;
  text-align: center;
  padding: 5em 1em;
  margin-top: 120px;
}

@media (min-width: 600px) {
  .footer {
    text-align: left;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
}

.footer__socials {
  margin-bottom: 2em;
}

@media (min-width: 500px) {
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  margin-bottom: 1em;
}

@media (min-width: 500px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__social-link {
  margin: 10px;
}

.footer__social-logo:hover path {
  fill: #2b272f;
}

@media (min-width: 600px) {
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    text-align: center;
  }
}

@media (min-width: 911px) {
  .footer__links {
    justify-items: start;
    text-align: left;
  }
}

.footer__subheading {
  font-size: 0.9em;
  color: #95a9c6;
  margin: 2em 0;
  text-transform: uppercase;
}

.footer__list {
  list-style: none;
}

.footer__link {
  font-size: 0.9em;
  line-height: 2;
}

.footer__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */