// FONTS
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$fontBody: 'Karla', sans-serif;
$fontHeadings: 'DM Serif Display', serif;

// COLORS
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: $fontBody;
}

// MIXINS
@mixin section-link {
  display: inline-block;
  border: 2px solid white;
  margin-top: 2em;
  padding: 8px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 200%;
}

@mixin min-width($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin max-width($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

// UTILS
.decorative-line {
  height: 2px;
  background-color: $darkGrayishViolet;
  opacity: 0.4;
  margin: 2em auto;

  &--half-width {
    width: 50%;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


}