.jobs {
  margin-top: 70px;
}

.job {
  background-color: $light-grayish-cyan-bg;
  padding: 20px;
  padding-top: 3em;
  position: relative;

  &__logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &__header {
    margin: 1em 0;
  }

  &__company {
    color: $desaturated-dark-cyan;
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 1em;
  }

  &__label {
    display: inline-block;
    background-color: $desaturated-dark-cyan;
    margin: 0 .3em;
    padding: 10px;
    border-radius: 20px;
    color: $light-grayish-cyan-bg;
    text-transform: uppercase;
    font-weight: 700;

    &--dark {
      background-color: black;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 1em 0;
  }

  &__details {
    margin: 1em 0;
    color: $dark-grayish-cyan;
  }

  &__tags {
    margin: 1em -15px;
  }

  &__tag {
    display: inline-block;
    background-color: $light-grayish-cyan-ftr;
    color: $desaturated-dark-cyan;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px;
    margin: 7px 15px;
  }
}