
.job {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  
  &__content {
    position: relative;
    background-color: $light-grayish-cyan-bg;
    box-shadow: $box-shadow;
    margin-top: 44px;
    padding: 0 25px;
    padding-top: 40px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__content::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
    background-color: $desaturated-dark-cyan;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 2;
  }

  &__header {
    margin: 1em 0;
  }

  &__company {
    color: $desaturated-dark-cyan;
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 1em;
  }

  &__label {
    display: inline-block;
    background-color: $desaturated-dark-cyan;
    margin: 0 .3em;
    padding: 10px;
    border-radius: 20px;
    color: $light-grayish-cyan-bg;
    text-transform: uppercase;
    font-weight: 700;

    &--dark {
      background-color: black;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 1em 0;
  }

  &__details {
    margin: 1em 0;
    color: $dark-grayish-cyan;
  }

  &__detail:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-grayish-cyan;
    vertical-align: middle;
    margin: 0 8px;
  }

  &__tags {
    margin: 1em -10px;
  }

  &__tag {
    @include tag;
    padding: 10px;
  }
}