.job {
  position: relative;
  display: flex;
  padding-top: 44px;
  margin-bottom: 30px;

  &--hidden {
    display: none;
  }

  @media (min-width: 1000px) {
    padding-top: 0;
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 0 25px;
    padding-top: 40px;
    background-color: $light-grayish-cyan-bg;
    box-shadow: $box-shadow;
    border-radius: 10px;

    @media (min-width: 1000px) {
      padding: 10px 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__content::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $desaturated-dark-cyan;
  }

  &__logo {
    position: absolute;
    top: -44px;
    left: 25px;
    z-index: 2;

    @media (min-width: 1000px) {
      position: static;
      margin-right: 20px;
    }
  }

  &__header {
    margin: 1em 0;
  }

  &__company {
    color: $desaturated-dark-cyan;
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 1em;
  }

  &__label {
    display: inline-block;
    background-color: $desaturated-dark-cyan;
    margin: 0 0.3em;
    padding: 5px 10px;
    border-radius: 20px;
    color: $light-grayish-cyan-bg;
    text-transform: uppercase;
    font-weight: 700;

    &--dark {
      background-color: black;
    }
    
  }

  &__title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 1em 0;

    &:hover {
      color: $desaturated-dark-cyan;
      cursor: pointer;
    }
  }

  &__details {
    margin: 1em 0;
    color: $dark-grayish-cyan;
  }

  &__detail:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-grayish-cyan;
    vertical-align: middle;
    margin: 0 8px;
  }

  &__dec-line {
    @media (min-width: 1000px) {
      display: none;
    }
  }

  &__tags {
    margin: 1em -10px;

    @media (min-width: 1000px) {
      margin-left: auto;
      justify-self: flex-end;
    }
  }

  .separate {
    flex-grow: 1;
  }

  &__tag {
    @include tag;
    padding: 10px;

    &:hover {
      background-color: $desaturated-dark-cyan;
      color: white;
      cursor: pointer;
    }
  }
}
