@import "colors";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: $fontBody;
}

@mixin section-link {
  display: inline-block;
  border: 2px solid white;
  margin-top: 2em;
  padding: 8px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 200%;
}

.header {
  padding: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    height: 1.4em;
  }

  &__btn {
    border: none;
    cursor: pointer;
  }

  &__nav {
    display: none;
  }
}

.about {
  background-color: $darkViolet;
  color: white;
  text-align: center;

  &__img {
    width: 100%;
  }

  &__content {
    padding: 3em 1em;
  }

  &__heading {
    font-size: 2.5em;
    font-family: $fontHeadings;
    margin-bottom: 0.5em;
  }

  &__subheading {
    color: $veryLightGray;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
  }

  &__link {
    @include section-link();
  }
}

.different {
  padding: 3em 1em;
  text-align: center;

  &__heading {
    font-family: $fontHeadings;
    font-size: 2.5em;
    color: $darkViolet;
    margin-bottom: 0.5em;
  }

  &__item {
    padding: 2em 0;
  }

  &__item-logo {
    margin-bottom: 1.5em;
  }

  &__item-heading {
    font-family: $fontHeadings;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: $darkViolet;
  }

  &__item-text {
    color: $grayishBlue;
    line-height: 1.4;
  }
}

.how {
  margin: 3em 1em;
  padding: 3em 1em;
  background-color: $darkViolet;
  color: white;
  text-align: center;

  &__heading {
    font-family: $fontHeadings;
    font-size: 2.5em;
  }

  &__link {
    @include section-link();
  }
}

.footer {
  background: url('../images/bg-pattern-footer-mobile.svg') no-repeat;
  text-align: center;
  padding: 5em 0;
  margin-top: 120px;

  &__socials {
    margin-bottom: 2em;
  }

  &__logo {
    margin-bottom: 1em;
  }

  &__social-link {
    display: inline-block;
    margin: 10px;
  }

  &__subheading {
    font-size: 0.9em;
    color: $grayishBlue;
    margin: 2em 0;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
  }

  &__link {
    font-weight: 700;
    font-size: 0.9em;
    text-decoration: none;
    color: $darkViolet;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 2;
  }
}
