.brands {
  margin-bottom: $section-margin;

  &__logo {
    margin-bottom: 4em;
  }

  @media (min-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}
