
.different {
  padding: 6em 1em;
  text-align: center;

  @media (min-width: 480px) and (max-width: 799px) {
    max-width: 500px;
    margin: 0 auto;
  }

  &__decorative-line {
    @include min-width(800px) {
      width: 6em;
      margin: 2em 0;
    }
  }

  &__heading {
    font-family: $fontHeadings;
    font-size: 2.5em;
    color: $darkViolet;
    margin-bottom: 0.5em;

    @include min-width(800px) {
      text-align: left;
    }
  }

  &__content {
    @include min-width(800px) {
      text-align: left;
      display: flex;
    }
  }


  &__item {
    padding: 2em 0;

    @include min-width(800px) {
      margin-right: 30px;
    }
  }

  &__item:last-child {
    @include min-width(800px) {
      margin-right: 0;
    }
  }

  &__item-logo {
    margin-bottom: 1.5em;
  }

  &__item-heading {
    font-family: $fontHeadings;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: $darkViolet;
  }

  &__item-text {
    color: $grayishBlue;
    line-height: 1.4;
  }
}