.download {
  margin-bottom: $section-margin;

  &__heading {
    color: $dark-grayish-blue;
    margin-bottom: $heading-margin;
  }

  &__descr {
    margin-bottom: 2em;
  }

  &__btn {
    margin: 0.6em 0;
  }
}