.track {
  margin-bottom: $section-margin;
  
  &__heading {
    color: $dark-grayish-blue;
    margin-bottom: $heading-margin;
  }

  &__descr {
    margin-bottom: 4em;
  }

  &__columns {
    padding: 0 2em;
  }

  &__image {
    margin-bottom: 4em;
  }

  &__img {
    max-width: 100%;
  }

  &__feature {
    margin-bottom: 3em;
  }

  &__feature-heading {
    margin-bottom: .5em;
    color: $dark-grayish-blue;
  }

  @media (min-width: 700px) {
    &__columns {
      margin-left: -80px;
      display: flex;
      align-items: center;
    }

    &__features {
      text-align: left;
      margin-left: 4em;
    }
  }
}