.button {
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.7em 3em;
  border: none;
  color: rgb(216, 209, 209);
  background-color: $strong-cyan;
  border-bottom: 3px solid darken($strong-cyan, 7%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.301);

  &--blue {
    background-color: $light-blue;
    border-bottom: 3px solid darken($light-blue, 7%);
  }
}