.button {
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.7em 3em;
  border: none;
  color: rgb(216, 209, 209);
  background-color: $strong-cyan;

  &--blue {
    background-color: $light-blue;
  }
}