@mixin btn-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border: 1px solid $veryLightGrayishBlue;
  border-radius: 50%;
}

@mixin btn-text {
  color: $lightGrayishBlue;
  border: none;
  background-color: transparent;
}

@mixin box-shadow {
  box-shadow: 0 2px 10px $lightGrayishBlue;
}
