@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@import './colors';
@import './mixins';
@import './components/App.scss';
@import './components/AddTask.scss';
@import './components/DisplayTasks.scss';
@import './components/Task.scss';
@import './components/FilterTasks.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: $veryLightGray;
}



