

.AddTask {
  height: 66px;
  display: flex;
  background-color: $veryLightGray;
  border-radius: 5px;
  padding: 20px;

  &__btn {
    @include btn-circle;
  }

  &__input {
    flex-grow: 1;
    margin-left: 15px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: $veryDarkGrayishBlue;
    background-color: $veryLightGray;

    &::placeholder {
      color: $darkGrayishBlue;
      font-weight: 400;
    }
  }
}