.AddTask {
  height: 66px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 0 20px;

  &__btn {
    @include btn-circle;
    border: 1px solid $veryLightGrayishBlue;
  }

  &__input {
    height: 66px;
    flex-grow: 1;
    margin-left: 15px;
    border: none;
    font-weight: 700;
    color: $veryDarkGrayishBlue;

    &::placeholder {
      color: $darkGrayishBlue;
      font-weight: 400;
    }
  }
}
