.App {
  background: url("../../images/bg-mobile-light.jpg") no-repeat top/120%;
  min-height: 100vh;
  padding: 0 25px;
  padding-top: 50px;

  @media (min-width: 600px) {
    background: url("../../images/bg-desktop-light.jpg") no-repeat top/220%;
    padding-top: 100px;
  }

  @media (min-width: 800px) {
    background-size: 160%;
  }

  @media (min-width: 1250px) {
    background-size: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__heading {
    color: $veryLightGray;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__btn-theme {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__footer {
    margin-top: 50px;
    color: $lightGrayishBlue;
    text-align: center;
  }

  &.dark {
    background-color: map-get($darkMode, "veryDarkBlue");
  }
}
