.DisplayTasks {
  border-radius: 5px;
  margin: 20px 0;

  &__list {
    list-style: none;
    @include box-shadow;
    border-radius: 5px 5px 0 0;
  }

  &__item:first-child div {
    border-radius: 5px 5px 0 0;
  }

  &__footer-top {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    @include box-shadow;
  }

  &__footer-down {
    margin-top: 20px;
    border-radius: 5px;
    @include box-shadow;

    @media (min-width: 600px) {
      display: none;
    }
  }

  &__items-left {
    color: $lightGrayishBlue;
    font-size: 0.9em;
  }

  &__btn-clear {
    @include btn-text;
    font-size: 0.9em;

    &:hover {
      color: $darkGrayishBlue;
    }
  }

  &__filters-desktop {
    @media (max-width: 599px) {
      display: none !important;
    }
  }
}
