

.DisplayTasks {
  background-color: white;
  border-radius: 5px;
  margin: 20px 0;
  @include box-shadow;

  &__list {
    list-style: none;
  }

  &__footer {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
  }

  &__items-left {
    color: $lightGrayishBlue;
    font-size: .9em;
  }

  &__btn-clear {
    @include btn-text;

    &:hover {
      color: $darkGrayishBlue;
    }
  }

  &__filters-desktop {
    @media (max-width: 599px) {
        display: none;
    }

    & .FilterTasks {
      box-shadow: none  ;
    }
  }
}