.FilterTasks {
  height: 66px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: $lightGrayishBlue;
  border-radius: 5px;
  @include box-shadow;

  &__btn {
    @include btn-text;
    color: $darkGrayishBlue;
    font-size: 1em;
    margin: 0 10px;

    &--active {
      color: $brightBlue;
    }
  }
}