.FilterTasks {
  height: 66px;
  display: flex;
  justify-content: center;
  // background-color: white;
  color: $lightGrayishBlue;
  border-radius: 5px;

  &__btn {
    @include btn-text;
    font-size: 1em;
    margin: 0 10px;

    &:hover {
      color: $darkGrayishBlue;
    }

    &--active {
      color: $brightBlue;
    }
  }
}
