

.Task {
  height: 66px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightGrayishBlue;

  &__btn-check {
    @include btn-circle;
    display: flex;
    justify-content: center;
    align-items: center;

    .Task--done & {
      background: $checkBackground;
    }
  }

  &__name {
    flex-grow: 1;
    margin: 0 15px;
    color: $veryDarkGrayishBlue;

    .Task--done & {
      color: $lightGrayishBlue;
      text-decoration: line-through;
    }
  }

  &__btn-delete {
    width: 26px;
    height: 26px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}